.THIS {
    margin: 0;
    height:500px !important;
    width:900px !important;
}

.THIS #MyViewerDiv {
    margin: 0;
    background-color: #F0F8FF;
}

.THIS .adsk-viewing-viewer{
    height:500px !important;
    width:900px !important;
}