<apex:page standardController="myUpload_Item__c" extensions="ForgeViewerPageController" showHeader="false" sidebar="false">
    <html>
        <head>
            <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no" />
            <meta charset="utf-8"/>
    
            <!-- The Viewer CSS -->
            <link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.min.css" type="text/css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
            
            <!-- Developer CSS -->
            <style>
                body {
                    margin: 0;
                }
                #MyViewerDiv {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    background-color: #F0F8FF;
                }
                
                
                .sidenav {
                    height: 100%;
                    width: 0;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    background-color: #111;
                    overflow-x: hidden;
                    transition: 0.5s;
                    padding-top: 60px;
                    opacity: .9;
                }
                
                .sidenav a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                }
                
                .sidenav a:hover, .offcanvas a:focus{
                    color: #f1f1f1;
                }
                
                .sidenav .closebtn {
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 36px;
                    margin-left: 50px;
                }
                
                
            </style>
        </head>
    
        <body>
            <apex:slds />
            <div class="slds-scope" ng-app="myApp" ng-controller="myCtrl">
            
                <div>
                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      
                      <table>
                          <tr style="color:white"><th></th><th>QUERY ID</th><th>LAYER NAME</th></tr>
                          <tr ng-repeat="queryItem in queryItems">
                              <td style="padding:10px"><input type="checkbox" ng-model="queryItem.isSelected" ng-change="showHideLayer($index)"/></td>
                              <td style="color:white">{{queryItem.Name}}</td>
                              <td style="color:white">{{queryItem.Layer_Name__c}}</td>
                          </tr>
                      </table>
                    </div>

                    <script>
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "280px";
                    }
                    
                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
            </script>
            </div>
            
            
            
            
                <!-- The Viewer will be instantiated here -->
                <div id="MyViewerDiv">
                
                    
                </div>
                <div style="position: absolute;z-index: 1;padding:20px">
                    <button class="slds-button slds-button_neutral" onclick="openNav()">Queries</button>
                </div>
                
            </div>
            
            <!-- The Viewer JS -->
            
            <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/three.min.js"></script>
            <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            
            <!-- Developer JS -->
            <script>
                var app = angular.module("myApp", []); 
                var viewer;
                app.controller('myCtrl', function($scope) {
                    $scope.queryItems = [];
                    
                    console.log("{!accessToken}");
                    var options = {
                        env: 'AutodeskProduction',
                        accessToken: "{!accessToken}"
                    };
                    var documentId = 'urn:'+"{!urn}";
        
                    Autodesk.Viewing.Initializer(options, function onInitialized(){
                        console.log(Autodesk.Viewing.Document);
                        Autodesk.Viewing.Document.load(documentId, onDocumentLoadSuccess, onDocumentLoadFailure);
                    });
        
                    /**
                    * Autodesk.Viewing.Document.load() success callback.
                    * Proceeds with model initialization.
                    */
                    function onDocumentLoadSuccess(doc) {
                        console.log(doc);
                        // A document contains references to 3D and 2D viewables.
                        var viewables = Autodesk.Viewing.Document.getSubItemsWithProperties(doc.getRootItem(), {'type':'geometry'}, true);
                        if (viewables.length === 0) {
                            console.error('Document contains no viewables.');
                            return;
                        }
        
                        // Choose any of the avialble viewables
                        var initialViewable = viewables[0];
                        var svfUrl = doc.getViewablePath(initialViewable);
                        var modelOptions = {
                            sharedPropertyDbPath: doc.getPropertyDbPath()
                        };
        
                        var viewerDiv = document.getElementById('MyViewerDiv');
                        viewer = new Autodesk.Viewing.Private.GuiViewer3D(viewerDiv);
                        viewer.start(svfUrl, modelOptions, onLoadModelSuccess, onLoadModelError);
                        
                    }
        
                    /**
                     * Autodesk.Viewing.Document.load() failuire callback.
                     */
                    function onDocumentLoadFailure(viewerErrorCode) {
                        console.error('onDocumentLoadFailure() - errorCode:' + viewerErrorCode);
                    }
        
                    /**
                     * viewer.loadModel() success callback.
                     * Invoked after the model's SVF has been initially loaded.
                     * It may trigger before any geometry has been downloaded and displayed on-screen.
                     */
                    function onLoadModelSuccess(model) {
                        console.log('onLoadModelSuccess()!');
                        console.log('Validate model loaded: ' + (viewer.model === model));
                        console.log(model);
                    }
        
                    /**
                     * viewer.loadModel() failure callback.
                     * Invoked when there's an error fetching the SVF file.
                     */
                    function onLoadModelError(viewerErrorCode) {
                        console.error('onLoadModelError() - errorCode:' + viewerErrorCode);
                    }
                    
                    
                    
                    $scope.visibleLayers = [];
                    
                    $scope.getQueryItems = function(){
                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ForgeViewerPageController.getQueryItems}',
                            '{!$CurrentPage.parameters.queryId}',
                            function(result, event){
                                if (event.status) {
                                console.log(result);
                                    $scope.queryItems = result;
                                    
                                    for(var i=0; i<$scope.queryItems.length; i++){
                                        if($scope.queryItems[i].Layer_Name__c != '' && $scope.queryItems[i].Layer_Name__c != null){
                                            $scope.queryItems[i].isSelected = true;
                                        }
                                    } 
                                    $scope.$apply();
                                }
                                else{
                                   
                                }
                            }
                            ,
                            {escape: true}
                        );
                    }
                    
                    
                    $scope.getQueryItems();
                    
                    
                    var count = 0;
                    $scope.showHideLayer = function(index){
                        if(count == 0){
                            var root = viewer.model.getLayersRoot();
                            for(var i=0; i<root.children.length; i++){
                                $scope.visibleLayers.push(root.children[i].name);
                            }
                            count++;
                        }
                        
                        
                        if($scope.queryItems[index].isSelected == true && $scope.queryItems[index].Layer_Name__c != null && $scope.queryItems[index].Layer_Name__c != ''){
                            $scope.visibleLayers.push(true && $scope.queryItems[index].Layer_Name__c);
                        }
                        else{
                            var spliceIndex = $scope.visibleLayers.indexOf($scope.queryItems[index].Layer_Name__c);
                            if(spliceIndex > -1){
                                $scope.visibleLayers.splice(spliceIndex, 1);
                            }
                        }
                        
                        
                        console.log($scope.visibleLayers);
                        
                        var root = viewer.model.getLayersRoot();
                        
                        var visibleLayers = [];
                        
                        for(var i=0; i<root.children.length; i++){
                            for(var j=0; j<$scope.visibleLayers.length; j++){
                                if(root.children[i].name === $scope.visibleLayers[j]){
                                    visibleLayers.push(root.children[i]);
                                }
                            }
                        }
                        
                        viewer.setLayerVisible(visibleLayers, true, true);
                    }
                    
                });    
            </script>
        </body>
    </html>
</apex:page>