<apex:page standardController="myProject_Part__c" recordSetVar="myProject_Parts" showHeader="false" sidebar="false" standardStyleSheets="false">
    
    <apex:StyleSheet value="/resource/Bootstrap/css/bootstrap.min.css"/>
    <apex:StyleSheet value="/resource/DataTable/css/jquery.dataTables.min.css"/>
    
    <apex:includeLightning />

    <span id="lightning" style="font-size: 1.4rem; !important" />
    
    <script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;
    
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
    
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    $Lightning.use("c:Unifize_Portal_App", function() {
        $Lightning.createComponent("c:MyParts_List",
                                   { srcProjectId : getUrlParameter('id')},
                                   "lightning",
                                   function(cmp) {
                                        /*setTimeout(function(){ 
                                            $('#example').DataTable({
                                                order: [[ 1, 'asc' ]],
                                                paging: true,
                                                "lengthMenu": [ 10, 20, 50, 100, 200 ],
                                                columnDefs: [ { orderable: false, targets: [0]}]
                                            }); 
                                        }, 1000);*/
                                   }
                                  );
    });
    </script>
</apex:page>