<apex:page standardController="myUpload_Item__c" extensions="S3FilesDownloadExt" recordSetVar="myUploadItems">  
    <apex:slds />
    <div class="slds-scope">
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <body>
            <div align="center">
                Your download should start automatically, if not, make sure that pop-ups are not blocked and try again.
            </div>
        </body>
        
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.50.0.min.js"></script>
        <script>
            console.log(window.location);
            var keys = '{!keys}';
            
            var accessKey = "{!$Setup.AWS_S3Properties__c.Access_Key__c}";
            var accessSecret = "{!$Setup.AWS_S3Properties__c.Access_Secret__c}";
            var region = "{!$Setup.AWS_S3Properties__c.Region__c}";
            var bucketName = "{!$Setup.AWS_S3Properties__c.Bucket_Name__c}";
            
            console.log(keys);
            console.log(keys.length);
            var fileNames = JSON.parse(keys);
            
            AWS.config.update({
                accessKeyId : accessKey,
                secretAccessKey : accessSecret
            });
            AWS.config.region = region;
            
            var s3 = new AWS.S3();
            
            var count = fileNames.length;
            
            if(count == 0){
                sforce.one.navigateToRelatedList('myUpload_Items__r','{!$CurrentPage.parameters.Id}');
            }
            
            for(var i=0; i<count; i++){
                var params = {Bucket: bucketName, Key: fileNames[i], Expires: 60};
                var url = s3.getSignedUrl('getObject', params);
                console.log(url);
                window.open(url);
                
                if(i >= count-1){
                    sforce.one.navigateToRelatedList('myUpload_Items__r','{!$CurrentPage.parameters.Id}');
                }
            }
            
            
        </script>
    </div>
</apex:page>