<apex:page controller="S3FilesDownloadCompController">  
    <apex:slds />
    <div class="slds-scope">
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <div class="slds-m-top--large"/>
        <body>
            <div align="center">
                Your download should start automatically, if not, make sure that pop-ups are not blocked and try again.
            </div>
        </body>
        
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.50.0.min.js"></script>
        <script>
            console.log(window.location);
            var files = '{!file}';
            
            files = JSON.parse(files);
            
            console.log(files);
            
            if(files.length > 0){
                var accessKey = "{!$Setup.AWS_S3Properties__c.Access_Key__c}";
                var accessSecret = "{!$Setup.AWS_S3Properties__c.Access_Secret__c}";
                var region = files[0].region
                
                AWS.config.update({
                    accessKeyId : accessKey,
                    secretAccessKey : accessSecret
                });
                AWS.config.region = region;
                
                var s3 = new AWS.S3();
                
                for(var i=0; i<files.length; i++){
                    var params = {Bucket: files[i].bucket, Key: files[i].key, VersionId:files[i].versionId, Expires: 60};
                    var url = s3.getSignedUrl('getObject', params);
                    console.log(url);
                    window.open(url);
                }
            }  
        </script>
    </div>
</apex:page>