<apex:page standardController="Upload__c" showQuickActionVfHeader="false" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <c:S3UploadComponent recordId="{!Upload__c.Id}" relatedFieldName="Upload__c" objectName="Uploads" recordName="{!Upload__c.Name}"/>
</apex:page>