<apex:page standardController="Part__c" showQuickActionVfHeader="false" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <c:S3UploadComponent recordId="{!Part__c.Id}" 
        relatedFieldName="myItem__c" 
        objectName="myParts" 
        recordName="{!Part__c.Name}" 
        onSaveController="S3UploadComponentOnSaveMyItem" 
        relatedListName="myItem_Revision__r"
        maxNoOfFiles="1"
    />
</apex:page>