<apex:page standardController="Nest__c" showQuickActionVfHeader="false" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <c:S3UploadComponent recordId="{!Nest__c.Id}" relatedFieldName="myNest__c" objectName="myNests" recordName="{!Nest__c.Name}"/>
</apex:page>