<apex:component controller="S3UploadComponentController">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <apex:attribute name="recordId" type="String" description="Record Id" assignTo="{!recordIdString}" id="theRecordId" required="true"/>
        <apex:attribute name="relatedFieldName" type="String" description="Related Field" id="theRelatedField" required="true"/>
        <apex:attribute name="ObjectName" type="String" description="Object Name" id="theObjectName" required="true"/>
        <apex:attribute name="recordName" type="String" description="Record Name" id="theRecordName" required="true"/>
        <apex:attribute name="onSaveController" type="String" description="On Save Logic" id="theOnSaveController"/>
        <apex:attribute name="relatedListName" type="String" description="Related List Name" id="theRelatedListName"/>
        <apex:attribute name="maxNoOfFiles" type="Integer" description="Max No of Files" id="theMaxFiles"/>
        
        <apex:slds />
        <!--<script src="https://sdk.amazonaws.com/js/aws-sdk-2.50.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        -->
        
        <apex:includeScript value="{!$Resource.S3_JS_SDK}"/>
        <apex:includeScript value="{!URLFOR($Resource.ExternalJSnCSSFiles, '/ExternalJSLibraries/angular.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.ExternalJSnCSSFiles, '/ExternalJSLibraries/jquery.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.ExternalJSnCSSFiles, '/ExternalJSLibraries/bootstrap.min.js')}"/>
        
        <apex:stylesheet value="{!URLFOR($Resource.BootstrapMin)}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        
        
    
        <div ng-app="myApp" ng-controller="myCtrl" class="slds-scope">
            <script>
            
                var app = angular.module('myApp', []);
                app.controller('myCtrl', function($scope, $interval) {
                    
                    $scope.accessKey = "{!$Setup.AWS_S3Properties__c.Access_Key__c}";
                    $scope.accessSecret = "{!$Setup.AWS_S3Properties__c.Access_Secret__c}";
                    $scope.region = "{!$Setup.AWS_S3Properties__c.Region__c}";
                    $scope.bucketName = "{!$Setup.AWS_S3Properties__c.Bucket_Name__c}";
                    
                    $scope.unsupportedFileTypes = "{!unsupportedFileTypes}";                
                    $scope.unsupportedFileTypes = $scope.unsupportedFileTypes.split(",");
                    
                    $scope.folderPath = '{!folderPath}';
                    console.log('folder path');
                    console.log($scope.folderPath);
                    
                    $scope.filesMap = {};
                    $scope.filesMapToUpload = {};
                    $scope.dataList = [];
                    $scope.myUploadItemList = [];
                    
                    $scope.recordId = '';
                    $scope.relatedFieldName = '';
                    $scope.objectName = '';
                    $scope.recordName = '';
                    
                    $scope.numberOfFilesChosen = 'No file chosen';
                    $scope.numberOfFilesSelected = 0;
                    $scope.numberOfFilesUploaded = 0;
                    $scope.numberOfFilesDragged = 0;
                    $scope.numberOfFilesFailed = 0;
                    $scope.numberOfUnsupportedFiles = 0;
                    $scope.progressBar = 0;
                    $scope.maxNoOfFiles = null;
                    
                    $scope.headerStatus = 'SELECT FILES FOR UPLOAD';
                    
                    $scope.showPageOne = true;
                    $scope.showPageTwo = false;
                    $scope.showProgress = false;
                    
                    $scope.noFilesSelectedError = false;
                    $scope.maxFilesError = false;
                    
                    $scope.awsMessage = '';
                    $scope.sfMessage = '';
                    $scope.overallMessage = '';
                    $scope.sfMessageAutoNumber = '';
                    
                    $scope.showAWSMessage = false;
                    $scope.showSFMessage = false;
                    $scope.showAWSError = false;
                    $scope.showSFError = false;
                    $scope.showRetry = false;
                    $scope.showOverallMessge = false;
                    $scope.showSFErrorAutoNumber = false;
                    
                    //console.log(window);
                    $scope.close = function(relatedListName){
                        
                        if(relatedListName == null || relatedListName == ''){
                            relatedListName = 'myUpload_Items__r';
                        }
                        
                        if(window.sforce === undefined){
                            window.top.location.href = '/one/one.app#/sObject/{!$CurrentPage.parameters.Id}/rlName/'+relatedListName+'/view';
                        }
                        else{
                            
                            console.log(sforce.one);
                            sforce.one.navigateToRelatedList(relatedListName,'{!$CurrentPage.parameters.Id}');
                        }    
                    }
                    
                   // console.log('SFORCE');
                    //console.log(sforce.one);
                    
                    
                    var isFileTypeSupported = function(fileType){
                        var isFileSupported = true;
                        for(var i=0; i<$scope.unsupportedFileTypes.length; i++){
                            if(fileType == $scope.unsupportedFileTypes[i]){
                                isFileSupported = false;
                                break;
                            }
                        }
                        return isFileSupported;
                    }                
                    
                    
                    $(document).ready(function(){
                        'use strict';
                        
                        var dropZone = document.getElementById('drop-zone');
    
                        var startUpload = function(files) {
                            $scope.numberOfFilesDragged = $scope.numberOfFilesDragged + files.length;
                            for(var i=0; i<files.length; i++){
                                var filesMapTemp = {"file":files[i], "fileName":files[i].name, "fileType":"", "isFileSupported":true, "uploadItemId":"", "autoNumber":"", "progressStatus":0, "loaded":0, "total":0, "data":"", "uploadStatus":"Not Started", "request":""};
                                $scope.filesMap[files[i].name] = filesMapTemp;
                                
                                var fileNameSplit = files[i].name.split(".");
                                var fileType = fileNameSplit[fileNameSplit.length - 1];
                                $scope.filesMap[files[i].name].fileType = fileType;
                                $scope.filesMap[files[i].name].isFileSupported = isFileTypeSupported(fileType);
                            }
                        }
                        
                        dropZone.ondrop = function(e) {
                            console.log(e);
                            e.preventDefault();
                            this.className = 'upload-drop-zone';
    
                            startUpload(e.dataTransfer.files)
                        }
                        
                        dropZone.ondragover = function() {
                            this.className = 'upload-drop-zone drop';
                            return false;
                        }
    
                        dropZone.ondragleave = function() {
                            this.className = 'upload-drop-zone';
                            return false;
                        }
                        
                        
                        $("#file-chooser").change(function(){
                            var fileChooser = document.getElementById('file-chooser');
                            var files = fileChooser.files;
                            console.log(files);
                            $scope.numberOfFilesChosen = files.length + ' File(s) Chosen';
                        });
                    });    
                        
    
                  // The  $interval function is used to auto refresh the count div.
                    var auto = $interval(function() {
                        $scope.displayMsg = "This is auto Refreshed " + $scope.progressBar + " counter time.";
                    }, 50);
    
    
                    $scope.getProgress = function(fileName){
                        return $scope.filesMapToUpload[fileName].progressStatus;
                    }
                    
                    
                    $scope.showFilesSelected = function(){
                        if($scope.numberOfFilesSelected > 0){
                            return true;
                        }
                        else{
                            return false;
                        }
                    }
                    
                    
                    $scope.getUploadComplete = function(){
                        if($scope.awsUploadComplete == true && $scope.sfError == false){
                            return true;
                        }
                        else{
                            return false;
                        }
                    }
                    
                    
                    $scope.showUnsupportedFilesMessage = function(){
                        if($scope.numberOfUnsupportedFiles > 0){
                            return true;
                        }
                        else{
                            return false;
                        }
                    }
                    
                    
                    $scope.goToPageTwo = function(recordId, relatedFieldName){
                        $scope.recordId = recordId;
                        $scope.relatedFieldName = relatedFieldName;
                        
                        $scope.showPageOne = false;
                        $scope.showPageTwo = true;
                        $scope.noFilesSelectedError = false;
                        $scope.maxFilesError = false;
                        
                        var fileChooser = document.getElementById('file-chooser');
                        var files = fileChooser.files;
                        
                        for(var i=0; i<files.length; i++){
                            var filesMapTemp = {"file":files[i], "fileName":files[i].name, "fileType":"", "isFileSupported":true, "uploadItemId":"", "autoNumber":"", "progressStatus":0, "loaded":0, "total":0, "data":"", "uploadStatus":"Not Started", "request":""};
                            $scope.filesMap[files[i].name] = filesMapTemp;
                            
                            var fileNameSplit = files[i].name.split(".");
                            var fileType = fileNameSplit[fileNameSplit.length - 1];
                            $scope.filesMap[files[i].name].fileType = fileType;
                            $scope.filesMap[files[i].name].isFileSupported = isFileTypeSupported(fileType);
                        }
                        
                        $scope.numberOfFilesSelected = 0;
                        $scope.numberOfUnsupportedFiles = 0;
                        
                        for(var fileName in $scope.filesMap){
                            $scope.numberOfFilesSelected ++;
                            if($scope.filesMap[fileName].isFileSupported == false){
                                $scope.numberOfUnsupportedFiles++;
                            }
                        }
                        
                        $scope.headerStatus = 'REVIEW SELECTED FILES';
                        
                        fileChooser.value = "";
                        $scope.numberOfFilesDragged = 0;
                    }
                    
                    
                    $scope.goToPageOne = function(){
                        $scope.showPageOne = true;
                        $scope.showPageTwo = false;
                        $scope.numberOfFilesDragged = $scope.numberOfFilesSelected;
                        $scope.headerStatus = 'SELECT FILES FOR UPLOAD';
                        $scope.numberOfFilesChosen = 'No file chosen';
                    }
                    
                    
                    $scope.removeSelectedFile = function(fileName){
                        console.log(fileName);
                        var isUnsupportedFile = $scope.filesMap[fileName].isFileSupported;
                        delete $scope.filesMap[fileName];
                        console.log($scope.filesMap);
                        $scope.numberOfFilesSelected--;
                        if(isUnsupportedFile == false){
                            $scope.numberOfUnsupportedFiles--;
                        }
                    }
                    
                    
                    $scope.uploadFilesInitial = function(recordId, relatedFieldName, recordName, objectName, onSaveController, maxNoOfFiles){
                        $scope.maxFilesError = false;
                        $scope.maxNoOfFiles = maxNoOfFiles;
                        
                        if($scope.maxNoOfFiles == null || $scope.maxNoOfFiles == '' || $scope.maxNoOfFiles >= $scope.numberOfFilesSelected){
                        
                            $scope.showSFErrorAutoNumber = false;
                            
                            $scope.filesMapToUpload = {};
                            
                            var filePath = '';
                            if($scope.folderPath == ''){
                                filePath = objectName + '/' + recordName + '-' + recordId + '/';
                            }
                            else{
                                filePath = $scope.folderPath;
                            }
                            
                            
                            var record = {};
                            
                            record.numberOfFiles = $scope.numberOfFilesSelected  - $scope.numberOfUnsupportedFiles;
                            record.recordId = $scope.recordId;
                            record.relatedFieldName = $scope.relatedFieldName;
                            
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.S3UploadComponentController.getMyUploadItems}',
                                record,
                                function(result, event){
                                    if (event.status) {
                                        console.log('Result--');
                                        console.log(result);
                                        
                                        var recordCount = 0;
                                        
                                        for(var fileName in $scope.filesMap){
                                            if($scope.filesMap[fileName].isFileSupported == true){
                                                var autoNumber = result[recordCount].Name+'-';
                                                $scope.filesMapToUpload[filePath+autoNumber+fileName] = $scope.filesMap[fileName];
                                                $scope.filesMapToUpload[filePath+autoNumber+fileName].fileName = fileName;
                                                $scope.filesMapToUpload[filePath+autoNumber+fileName].uploadItemId = result[recordCount].Id;
                                                $scope.filesMapToUpload[filePath+autoNumber+fileName].autoNumber = result[recordCount].Name;
                                                recordCount++;
                                            }    
                                        }
                                        
                                        if(recordCount > 0){
                                            $scope.numberOfFilesSelected = recordCount;
                                            $scope.uploadFiles(recordId, relatedFieldName, recordName, objectName, onSaveController);
                                        }
                                        else{
                                            $scope.noFilesSelectedError = true;
                                        }
                                    }
                                    else{
                                        $scope.showSFErrorAutoNumber = true;
                                        $scope.sfMessageAutoNumber = 'Data sync failed: '+event.message;
                                    }
                                }
                                ,
                                {escape: true}
                            ); 
                        }
                        else{
                            $scope.maxFilesError = true;
                        }      
                    }
                    
    
                    $scope.uploadFiles = function(recordId, relatedFieldName, recordName, objectName, onSaveController){
                        console.log($scope.filesMapToUpload);
                        $scope.noFilesSelectedError = false;
                        
                        
                        if($scope.numberOfFilesSelected > 0){
                            
                            $scope.recordId = recordId;
                            $scope.relatedFieldName = relatedFieldName;
                            $scope.recordName = recordName;
                            $scope.objectName = objectName;
                            $scope.onSaveController = onSaveController;
                            
                            AWS.config.update({
                                accessKeyId : $scope.accessKey,
                                secretAccessKey : $scope.accessSecret
                            });
                            AWS.config.region = $scope.region;
        
                                              
                            var bucket = new AWS.S3({params: {Bucket: $scope.bucketName}});
                            
                            $scope.showProgress = true;
                            $scope.showPageTwo = false;
                            
                            console.log($scope.numberOfFilesSelected);
                            $scope.numberOfFilesFailed = 0;
                            
                            $scope.headerStatus = 'UPLOADING FILES';
                            
                            $scope.awsMessage = '';
                            $scope.sfMessage = '';
                            $scope.overallMessage = '';
                            
                            $scope.showAWSMessage = false;
                            $scope.showSFMessage = false;
                            $scope.showAWSError = false;
                            $scope.showSFError = false;
                            $scope.showRetry = false;
                            $scope.showOverallMessge = false; 
        
                            for(var fileName in $scope.filesMapToUpload){
                                var file = $scope.filesMapToUpload[fileName].file;
                                console.log(file);
                                if (file && $scope.filesMapToUpload[fileName].uploadStatus != 'Success') {
                                
                                    $scope.awsMessage = 'Uploading...';
                                    $scope.showAWSMessage = true;
                                    
                                    var params = {Key: fileName, ContentType: file.type, Body: file};
                                    
                                    $scope.filesMapToUpload[fileName].request = bucket.upload(params);
                                    console.log('request--');
                                    console.log($scope.filesMapToUpload[fileName].request);
                                    $scope.filesMapToUpload[fileName].request.on('httpUploadProgress', function(evt) {
                                        console.log(evt);
                                        
                                        console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
                                        $scope.filesMapToUpload[evt.key].loaded = bytesToSize(evt.loaded);
                                        $scope.filesMapToUpload[evt.key].total = bytesToSize(evt.total);
                                        $scope.filesMapToUpload[evt.key].progressStatus = parseInt((evt.loaded * 100) / evt.total);
                                        $scope.filesMapToUpload[evt.key].uploadStatus = 'In Progress';
                                    }).promise().then(function(data) {
                                        console.log('data--'+data);
                                        console.log(data);
                                        console.log($scope.filesMapToUpload);
                                        
                                        $scope.filesMapToUpload[data.Key].progressStatus = 100;
                                        $scope.filesMapToUpload[data.Key].data = data;
                                        $scope.filesMapToUpload[data.Key].uploadStatus = 'Success';
                                        console.log($scope.filesMapToUpload);
                                        
                                        $scope.numberOfFilesUploaded++;
                                        
                                        if($scope.numberOfFilesSelected == $scope.numberOfFilesUploaded + $scope.numberOfFilesFailed){
                                            updateStatus();
                                        }
                                    },
                                    function(err){
                                        
                                        console.log('error--');
                                        console.log(err);
                                        $scope.numberOfFilesFailed++;
                                        
                                        $scope.awsMessage = err.message;
                                        
                                        if($scope.numberOfFilesSelected == $scope.numberOfFilesUploaded + $scope.numberOfFilesFailed){
                                            updateStatus();
                                        }
                                        
                                        
                                    }
                                );
                                }
                            }
                            
                            //AWS upload is success and sf sync failed
                            if($scope.showAWSError == false && $scope.showSfError == true){
                                updateStatus();
                            }
                        }
                        else{
                            $scope.noFilesSelectedError = true;
                        }
                    }
                    
                    
                    var updateStatus = function(){
                        
                    
                        console.log('Final');
                        console.log($scope.filesMapToUpload);
                        
                        $scope.dataList = [];
                        var noOfFilesFailed = 0;
                        
                        for(var fileName in $scope.filesMapToUpload){
                            if($scope.filesMapToUpload[fileName].uploadStatus == 'Success'){
                                var tempData = $scope.filesMapToUpload[fileName].data;
                                tempData.total = $scope.filesMapToUpload[fileName].total;
                                tempData.fileName = $scope.filesMapToUpload[fileName].fileName;
                                tempData.uploadItemId = $scope.filesMapToUpload[fileName].uploadItemId;
                                $scope.dataList.push(tempData);
                            }
                            else{
                                $scope.filesMapToUpload[fileName].progressStatus = 0;
                                $scope.filesMapToUpload[fileName].loaded = 0;
                                $scope.filesMapToUpload[fileName].uploadStatus = 'Failed';
                                noOfFilesFailed++;
                            }
                        }
                        
                        if(noOfFilesFailed == 0){
                            $scope.showAWSMessage = false;
                        }
                        else{
                            $scope.awsMessage = 'Upload complete with errors: '+$scope.awsMessage;;
                            $scope.showAWSMessage = false;
                            $scope.showAWSError = true;
                            $scope.showRetry = true;
                        }
                        
                        saveData($scope.dataList, $scope.recordId, $scope.relatedFieldName, $scope.onSaveController);
                    }
                    
                    
                    var saveData = function(dataLst, recordId, relatedFieldName, onSaveController){
                        $scope.sfMessage = 'Syncing Data…';
                        
                        $scope.showSFMessage = true;
                        
                        var recordsToSave = [];
                        
                        for(var i=0; i<dataLst.length; i++){
                            var record = {};
                            record.recordId = recordId;
                            record.relatedFieldName = relatedFieldName;
                            record.eTag = dataLst[i].ETag;
                            record.fileName = dataLst[i].fileName;
                            record.key = dataLst[i].Key;
                            record.location = dataLst[i].Location;
                            record.bucketName = $scope.bucketName;
                            record.fileSize = dataLst[i].total;
                            record.uploadItemId = dataLst[i].uploadItemId;
                            record.versionId = dataLst[i].VersionId;
                            record.onSaveController = onSaveController;
                            
                            recordsToSave.push(record);
                        }
                        
                        console.log('Records to Save--');
                        console.log(recordsToSave);
                        
                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.S3UploadComponentController.upsertData}',
                            recordsToSave,
                            function(result, event){
                                if (event.status) {
                                    console.log('Result--');
                                    console.log(result);
                                    
                                    $scope.showSFMessage = false;
                                    
                                    if($scope.showAWSError == false){
                                        $scope.overallMessage = 'UPLOAD COMPLETE';
                                        $scope.showOverallMessage = true;
                                    }
                                }
                                else{
                                    $scope.sfMessage = 'Data sync failed: '+event.message;
                                    $scope.showRetry = true;
                                    $scope.showSFError = true;
                                    $scope.showSFMessage = false;
                                }
                            }
                            ,
                            {escape: true}
                        );
                    }
                    
                    
                    
                
                });
                
                
                
                
                function bytesToSize(bytes) {
                    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
                    if (bytes == 0) return 'n/a';
                    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
                    if (i == 0) return bytes + ' ' + sizes[i];
                    return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
                };
            </script>
            
            <style>
                /* layout.css Style */
                .upload-drop-zone {
                  height: 200px;
                  border-width: 2px;
                  margin-bottom: 20px;
                }
        
                /* skin.css Style*/
                .upload-drop-zone {
                  color: #ccc;
                  border-style: dashed;
                  border-color: #ccc;
                  line-height: 200px;
                  text-align: center
                }
                .upload-drop-zone.drop {
                  color: #222;
                  border-color: #222;
                }
                
            </style>
            
            
            <div class="slds-form slds-form_stacked">
                <div class="">
                    <div class="slds-page-header" role="banner" align="center">
                        <div class="slds-grid">
                            <div class="slds-col slds-has-flexi-truncate">
                                <div class="slds-no-space slds-grow">
                                    <div class="slds-media__body">
                                        <p class="slds-text-title--caps slds-line-height--reset">{{headerStatus}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div ng-show="showPageOne" class="slds-m-top--large">
                        
                        <div class="slds-m-top--large">
                        <!-- Standar Form -->
                            <form id="js-upload-form" class="slds-form--stacked">
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control">
                                        <div class="slds-file-selector slds-file-selector_files">
                                            <input id="file-chooser" name="files[]" class="slds-file-selector__input slds-assistive-text" multiple="true" type="file"/>
                                            <label class="slds-file-selector__body" for="file-chooser">
                                              <span class="slds-button slds-button--neutral">
                                                Choose Files
                                              </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                {{numberOfFilesChosen}}
                            </form>
                            
                            <!-- Drop Zone -->
                            <div class="slds-m-top--large">Or drag and drop files below</div>
                            <div class="upload-drop-zone" id="drop-zone">
                                {{numberOfFilesDragged}} File(s) Added
                            </div>    
                       </div>
                       
                       <div class="slds-m-top--large" style="position:fixed; bottom:20px;right:10px" align="right">
                           <button type="submit" class="slds-button slds-button--neutral" id="js-upload-submit" ng-click="goToPageTwo('{!recordId}', '{!relatedFieldName}')">Next</button>
                       </div>
                    </div>
                    
                    
                    
                    
                    <div ng-show="showPageTwo" class="slds-m-top--large">
                        <div class="slds-grid">
                            <div class="slds-col slds-size--3-of-12">
                            </div>
                            <div class="slds-col slds-size--6-of-12 slds-text-align--center" >
                                You have selectetd {{numberOfFilesSelected}} files for upload
                                <p ng-show="showUnsupportedFilesMessage()" style="color:red">
                                    There are {{numberOfUnsupportedFiles}} unsupported files and those will not be uploaded
                                </p>
                            </div>
                            <div class="slds-col slds-size--3-of-12 slds-text-align--right">
                                <font color="red" ng-show="noFilesSelectedError">Please select at least one file for upload</font>
                                <font color="red" ng-show="maxFilesError">You can only upload {{maxNoOfFiles}} file(s) in this context</font>
                                <div class="container" align="right" ng-show="showSFErrorAutoNumber"><p style="color:red">{{sfMessageAutoNumber}}</p></div>
                            </div>
                        </div>
                        <div style="overflow:auto; height:280px;" class="slds-m-top--large">
                            <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-no-row-hover">
                                <tr>
                                    <th> # </th>
                                    <th>File Name</th>
                                    <th>File Type</th>
                                    <th>Remove</th>
                                </tr>
                                    
                                <tr ng-repeat='(key, value) in filesMap'>
                                    <td>
                                        <font ng-hide="value.isFileSupported" color="red">{{$index+1}}</font>
                                        <font ng-show="value.isFileSupported">{{$index+1}}</font>
                                    </td>
                                    <td>
                                        <font ng-hide="value.isFileSupported" color="red">{{key}}</font>
                                        <font ng-show="value.isFileSupported">{{key}}</font>
                                    </td>
                                    <td>
                                        <font ng-hide="value.isFileSupported" color="red">{{value.fileType}}</font>
                                        <font ng-show="value.isFileSupported">{{value.fileType}}</font>
                                    </td>
                                    
                                    <td>
                                        <i ng-click="removeSelectedFile(key)" class="fa fa-trash" style="font-size:28px;color:orange"></i>
                                    </td>
                                 </tr>       
                            </table> 
                        </div>
                        
                        
                        
                        <div class="slds-m-top--large" style="position:fixed; bottom:20px;right:10px" align="right">
                           <button type="submit" class="slds-button slds-button--neutral" ng-click="goToPageOne()">Back</button>
                           <button type="submit" class="slds-button slds-button--neutral" ng-click="uploadFilesInitial('{!recordId}', '{!relatedFieldName}','{!recordName}','{!objectName}','{!onSaveController}','{!maxNoOfFiles}')">Upload</button>
                        </div>
                    </div>
                    
                    
                    <div ng-show="showProgress" class="">
                        <div class="slds-grid slds-m-top--large">
                            <div class="slds-col slds-size--3-of-12 slds-text-align--left">
                                <button type="button" ng-show="showRetry" class="slds-button slds-button--neutral" id="js-upload-submit" ng-click="uploadFiles('{!recordId}', '{!relatedFieldName}','{!recordName}','{!objectName}','{!onSaveController}','{!maxNoOfFiles}')">Retry</button>
                            </div>
                            <div class="slds-col slds-size--6-of-12 slds-text-align--center" >
                                <h4 style="color:green" ng-show="showOverallMessage">{{overallMessage}}<br/></h4>
                                <h4>{{numberOfFilesUploaded}}/{{numberOfFilesSelected}} File(s) Uploaded<br/></h4>
                                <h4>{{numberOfFilesFailed}} Failed</h4>
                            </div>
                            <div class="slds-col slds-size--3-of-12 slds-text-align--right">
                                <div class="container" align="right" ng-show="showAWSMessage">
                                    <i class="fa fa-spinner fa-spin" style="font-size:24px;color:#42b3f4"></i>
                                    {{awsMessage}}
                                </div>                                
                                <div class="container" align="right" ng-show="showAWSError"><p style="color:red">{{awsMessage}}</p></div>
                                
                                <div class="container" align="right" ng-show="showSFMessage">
                                    <i class="fa fa-spinner fa-spin" style="font-size:24px;color:#42b3f4"></i>
                                    {{sfMessage}}
                                </div>
                                <div class="container" align="right" ng-show="showSFError"><p style="color:red">{{sfMessage}}</p></div>
                            </div>
                        </div>
                            
                        
                        <div style="overflow:auto; height:300px;" class="slds-m-top--large">
                            <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-no-row-hover">
                                <tr>
                                    <th style="width:20%">File Name</th>
                                    <th style="width:20%">Uploaded</th>
                                    <th style="width:40%">Progress</th>
                                    <th style="width:20%">Status</th>
                                </tr>
                                    
                                <tr ng-repeat='(key, value) in filesMapToUpload'>
                                    <td>{{value.fileName}}</td>
                                    <td>{{value.loaded}}/{{value.total}}</td>
                                    <td>
                                        <div class="nm">
                                            <div class="progress" style="margin-bottom:0px;height: 15px;">
                                                <div class="progress-bar active" style="line-height: 15px" role="progressbar" aria-valuenow="{{getProgress(key)}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : (getProgress(key)+'%')}">
                                                    {{getProgress(key)}}%
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{value.uploadStatus}}</td>
                                 </tr>       
                            </table> 
                        </div>
                        <div class="slds-m-top--large" style="position:fixed; bottom:20px;right:10px" align="right">
                           <button type="button" ng-show="showOverallMessage" class="slds-button slds-button--brand" ng-click="close('{!relatedListName}')">Close</button>
                        </div>  
                    </div>
                    
                </div>
            </div>  
               
        </div>
    </html>
</apex:component>