.THIS {
}

.THIS.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;   
}

.THIS:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

.THIS.imageNone {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;  
}

.THIS:hover .imageNone {
  opacity: 0.3;
}

.THIS.tooltip {
    position: relative;
    display: inline-block;
} 

.THIS .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.THIS.tooltip:hover .tooltiptext {
    visibility: visible;
}